
.text-succsess{
    font-family: 'Roboto', sans-serif;
    color:#28a745;
}
.card-footer{

    font-family: 'Roboto', sans-serif;


}
.card-text{
    font-family: 'Roboto', sans-serif;

}

.card-title{

    font-family: 'Roboto', sans-serif;
}

form{

    font-family: 'Roboto', sans-serif;
    
    

    
}
  